#**IPL SCORE PREDICTION**

**PROJECT AIM :**
PREDICT THE TOTAL SCORE OF AN IPL MATCH DATASET <br>

**APPROACH:**

1. Handle missing values
2. Drop the unnecessary columns
3. Convert the categorical string columns to numerical columns, by using dummy encoding
4. Perform feature scaling (if necessary).
5. Build a model on the “total” column, using a RandomForestRegressor
6. Calculate the score
7. Predict on a new set of features 

Dataset used : https://www.kaggle.com/malavikarvikraman/ipl2017

# **Importing Libraries**

In [ ]:
import pandas as pd
import numpy as np

#**Importing dataset**

In [ ]:
df = pd.read_csv("/content/drive/My Drive/Colab Notebooks/ipl2017.csv")

**Checking Data Set**

In [ ]:
print(df.info())
# print(df.dtypes)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 76014 entries, 0 to 76013
Data columns (total 15 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   mid             76014 non-null  int64
 1   date            76014 non-null  object
 2   venue           76014 non-null  object
 3   bat_team        76014 non-null  object
 4   bowl_team       76014 non-null  object
 5   batsman         76014 non-null  object
 6   bowler          76014 non-null  object
 7   runs            76014 non-null  int64
 8   wickets         76014 non-null  int64
 9   overs           76014 non-null  float64
 10  runs_last_5     76014 non-null  int64
 11  wickets_last_5  76014 non-null  int64
 12  striker         76014 non-null  int64
 13  non-striker     76014 non-null  int64
 14  total           76014 non-null  int64
dtypes: float64(1), int64(8), object(6)
memory usage: 8.7+ MB
None

In [ ]:
print(df.shape)

(76014, 15)

In [ ]:
print(df.head())

   mid        date                  venue  ... striker non-striker total
0    1  2008-04-18  M Chinnaswamy Stadium  ...       0           0   222
1    1  2008-04-18  M Chinnaswamy Stadium  ...       0           0   222
2    1  2008-04-18  M Chinnaswamy Stadium  ...       0           0   222
3    1  2008-04-18  M Chinnaswamy Stadium  ...       0           0   222
4    1  2008-04-18  M Chinnaswamy Stadium  ...       0           0   222

[5 rows x 15 columns]

#**Droping unnecessary columns**

In [ ]:
df.drop(labels=["mid",'date'],axis=1,inplace=True)
print(df.head())

                   venue               bat_team  ... non-striker total
0  M Chinnaswamy Stadium  Kolkata Knight Riders  ...           0   222
1  M Chinnaswamy Stadium  Kolkata Knight Riders  ...           0   222
2  M Chinnaswamy Stadium  Kolkata Knight Riders  ...           0   222
3  M Chinnaswamy Stadium  Kolkata Knight Riders  ...           0   222
4  M Chinnaswamy Stadium  Kolkata Knight Riders  ...           0   222

[5 rows x 13 columns]

In [ ]:
print(df.dtypes)

venue              object
bat_team           object
bowl_team          object
batsman            object
bowler             object
runs                int64
wickets             int64
overs             float64
runs_last_5         int64
wickets_last_5      int64
striker             int64
non-striker         int64
total               int64
dtype: object

#**Step 1 : Initializing Train-Test variables**
X = Features <br>
y = Target

In [ ]:
y = df["total"]
X = df.drop('total',axis=1)

In [ ]:
print(y.dtypes)
print(X.dtypes)

int64
venue              object
bat_team           object
bowl_team          object
batsman            object
bowler             object
runs                int64
wickets             int64
overs             float64
runs_last_5         int64
wickets_last_5      int64
striker             int64
non-striker         int64
dtype: object

In [ ]:
X = pd.get_dummies(data = X,columns = ['venue','bat_team','bowl_team','batsman','bowler'],drop_first=True)
X.head()
# df.dtypes

   runs  wickets  overs  ...  bowler_YS Chahal  bowler_Yuvraj Singh  bowler_Z Khan
0     1        0    0.1  ...                 0                    0              0
1     1        0    0.2  ...                 0                    0              0
2     2        0    0.2  ...                 0                    0              0
3     2        0    0.3  ...                 0                    0              0
4     2        0    0.4  ...                 0                    0              0

[5 rows x 805 columns]

* **Features should be of the type : Arrays/DataFrames**

In [ ]:
print(type(X))

<class 'pandas.core.frame.DataFrame'>

* **Features should be in the from of rows and columns**

In [ ]:
print(X.shape)

(76014, 805)

#**Step 2 : Splitting into Training and Testing sets**

In [ ]:
from sklearn.model_selection import train_test_split

X_train,X_test,y_train,y_test = train_test_split(X,y,test_size = 0.3,random_state = 38)

**Feature scaling**

In [ ]:
from sklearn.preprocessing import StandardScaler

scaler = StandardScaler()

*** Note : Fitting is done on Training data, NOT ON Testing data**

In [ ]:
X_train = scaler.fit_transform(X_train)
X_test = scaler.transform(X_test)

#**Step 3 : Using Regression**
* Regression is peformed on Continuous data<br>
* Classification is peformed on Discrete data

**Performing Random Forest Regression**

In [ ]:
from sklearn.ensemble import RandomForestRegressor

forest = RandomForestRegressor()

**Fitting and Scoring**

In [ ]:
forest.fit(X_train,y_train)

forest_testing = forest.score(X_test,y_test)

print(f'RandomForestRegressor Testing Score : {forest_testing}')

RandomForestRegressor Testing Score : 0.9420298884881197

In [ ]:
forest_training = forest.score(X_train,y_train)

print(f'RandomForestRegressor Training Score : {forest_training}')

RandomForestRegressor Training Score : 0.9915195669058396

**Performing Dicision Tree Regressor**

In [ ]:
from sklearn.tree import DecisionTreeRegressor

tree = DecisionTreeRegressor()

**Fitting and Scoring**

In [ ]:
tree.fit(X_train,y_train)

tree_testing = tree.score(X_test,y_test)

print(f'DecisionTreeRegressor Testing Score : {tree_testing}')

DecisionTreeRegressor Testing Score : 0.8711300054695686

In [ ]:
tree_training = tree.score(X_train,y_train)

print(f'DecisionTreeRegressor Testing Score : {tree_training}')

DecisionTreeRegressor Testing Score : 0.9999925603139226

#**Step 4 : Let's Predict the Total Score**

**Creating a data frame**<br>
Since creating data with so many columns would be difficult,
so I have extracted few rows from the original data set.

In [ ]:
data = X.iloc[[0,150]]
print(data.head())

     runs  wickets  overs  ...  bowler_YS Chahal  bowler_Yuvraj Singh  bowler_Z Khan
0       1        0    0.1  ...                 0                    0              0
150    33        1    4.1  ...                 0                    0              0

[2 rows x 805 columns]

**Random Forest Regressor**

In [ ]:
RFR_Pre = forest.predict(data)

print(f'Random Forest Regressor Prediction \n\n{RFR_Pre}')

Random Forest Regressor Prediction

[196.85 248.1 ]

**Decision Tree Regressor**

In [ ]:
DTR_Pre = tree.predict(data)

print(f'Decision Tree Regressor Prediction \n\n{DTR_Pre}')

Decision Tree Regressor Prediction

[197. 246.]

**Original Total Score**

In [ ]:
Original_Score = y.iloc[[0,150]]

print(f'Original Total Score \n\n{Original_Score}')

Original Total Score

0      222
150    240
Name: total, dtype: int64